/* === NORMALIZE */
html {
  font-family: system-ui, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji';
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  tab-size: 4;
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo,
    monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  border-color: currentcolor;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
  appearance: auto;
  -webkit-appearance: button;
}

legend {
  padding: 0;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

[type='search'] {
  appearance: auto;
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  appearance: auto;
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

/* === BASE CSS */
/* === MEDIA */
img,
svg,
video,
canvas,
iframe,
object,
embed {
  display: block;
  max-width: 100%;
  height: auto;
}

/* === LISTS */
ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* === LINKS */
a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

/* === FORM */
button,
input,
select,
textarea {
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  color: inherit;
  outline: none;
  appearance: none;
}

button {
  cursor: pointer;
  user-select: none;
}

input:disabled,
button:disabled,
select:disabled,
textarea:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

/* === TYPOGRAPHY */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

/* === BLOCKS */
article,
aside,
footer,
header,
main,
nav,
section {
  display: block;
}

/* === FONT FACES */
@font-face {
  font-family: 'Inter';
  font-weight: 400;
  font-style: normal;
  src: url('./assets/fonts/inter-regular.woff2') format('woff2'),
    url('./assets/fonts/inter-regular.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  font-weight: 600;
  font-style: normal;
  src: url('./assets/fonts/inter-semibold.woff2') format('woff2'),
    url('./assets/fonts/inter-semibold.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  font-weight: 700;
  font-style: normal;
  src: url('./assets/fonts/inter-bold.woff2') format('woff2'),
    url('./assets/fonts/inter-bold.woff') format('woff');
  font-display: swap;
}

/* === VARIABLES */
:root {
  /* == COLOR */
  --color-main-100: hsl(0, 0%, 100%);
  --color-main-700: hsl(0, 0%, 20%);
  --color-main-800: hsl(0, 0%, 12%);
  --color-main-900: hsl(0, 0%, 8%);

  --color-accent-200: hsl(75, 94%, 57%);

  /* == TYPOGRAPHY */
  --font-size-sm: 0.875rem; /* 14px */
  --font-size-lg: 1.5rem; /*   24px */

  --font-weight-regular: 400;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  --line-height: 150%;
  --letter-spacing: 0;

  /* == SPACING */
  --space-50: 0.25rem; /*   4px */
  --space-100: 0.5rem; /*   8px */
  --space-150: 0.75rem; /* 12px */
  --space-200: 1rem; /*    16px */
  --space-300: 1.5rem; /*  24px */
  --space-500: 2.5rem; /*  40px */

  /* == RADIUS */
  --radius-md: 0.5rem; /* 8px */
  --radius-lg: 0.75rem; /* 12px*/
  --radius-circle: 50%;

  /* == TRANSITION */
  --transition-base: 250ms ease-in-out;
}

/* === BODY */
body {
  background-color: var(--color-main-900);
  color: var(--color-main-100);
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Inter', sans-serif;
  line-height: var(--line-height);
  letter-spacing: var(--letter-spacing);
}

/* === COMPONENT */
.button {
  display: flex;
  justify-content: center;
  background-color: var(--color-main-700);
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-bold);
  color: var(--color-main-100);
  text-align: center;
  padding: var(--space-150);
  border-radius: var(--radius-md);
  transition: var(--transition-base);
  align-self: stretch;
}

.button:hover,
.button:active {
  background-color: var(--color-accent-200);
  color: var(--color-main-700);
}

/* === STYLING */
.main {
  height: 100vh;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 var(--space-300);
  gap: var(--space-100);
}

.card {
  width: 327px;
  max-width: 456px;
  display: flex;
  flex-flow: column nowrap;
  flex: 1 0 0;
  align-items: center;
  gap: var(--space-300);
  padding: var(--space-300);
  border-radius: var(--radius-lg);
  background-color: var(--color-main-800);
}

.card__avatar {
  width: 88px;
  aspect-ratio: 1/1;
  border-radius: var(--radius-circle);
}

.card__section {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: var(--space-50);
}

.card__heading,
.card__location,
.card__tagline {
  text-align: center;
}

.card__location,
.card__tagline {
  font-size: var(--font-size-sm);
}

.card__heading {
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-bold);
}

.card__location {
  font-weight: var(--font-weight-bold);
  color: var(--color-accent-200);
}

.card__list {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  gap: var(--space-200);
}

.card__item {
  display: block;
}

/* === TABLET */
@media (min-width: 768px) {
  .card {
    padding: var(--space-500);
  }
}

/* === DESKTOP */
@media (min-width: 1024px) {
  .card {
    max-width: 384px;
  }
}
